services:

  patient-postgres:
    container_name: patient-db
    image: postgres:15
    environment:
      POSTGRES_DB: patient_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5000:5432"
    volumes:
      - patient_postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    restart: unless-stopped

  medical-staff-postgres:
    container_name: medical-staff-db
    image: postgres:15
    environment:
      POSTGRES_DB: medical_staff_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5002:5432"
    volumes:
      - medical_staff_postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    restart: unless-stopped
  
  auth-postgres:
    container_name: auth-db
    image: postgres:15
    ports:
      - "5001:5432"
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    restart: unless-stopped

  billing-postgres:
    container_name: billing-db
    image: postgres:15
    ports:
      - "5003:5432"
    environment:
      POSTGRES_DB: billing_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    volumes:
      - billing_postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    restart: unless-stopped

  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:7.5.0
    ports:
      - "9092:9092"
      - "9094:9094"
    environment:
      # ---- KRaft mode ----
      CLUSTER_ID: YSEeaP7HRy-Lhksi-Hj_Fg
      KAFKA_NODE_ID: 0
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      # ---- Listeners ----
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      # ---- Single-node safe defaults ----
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    networks:
      - backend
    volumes:
      - kafka_data:/var/lib/kafka/data

  # Billing Service - No dependencies on other services
  billing-service:
    container_name: billing-service
    build: ./billing-service/
    ports:
      - "4001:4001"
      - "9001:9001"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://billing-postgres:5432/billing_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      GRPC_SERVER_PORT: 9001
      SERVER_PORT: 4001
    depends_on:
      - billing-postgres
    networks:
      - backend

  # Patient Service - Depends on Billing Service (calls billing gRPC)
  patient-service:
    container_name: patient-service
    build: ./patient-service/
    ports:
      - "4000:4000"
      - "9002:9002"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://patient-postgres:5432/patient_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      BILLING_SERVICE_ADDRESS: billing-service
      BILLING_SERVICE_GRPC_PORT: 9001
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      GRPC_SERVER_PORT: 9002
      SERVER_PORT: 4000
    depends_on:
      - patient-postgres
      - billing-service  # Patient calls Billing
      - kafka
    networks:
      - backend

  # Auth Service - Depends on Patient Service (calls patient gRPC)
  auth-service:
    container_name: auth-service
    build: ./auth-service/
    ports:
      - "4005:4005"
      - "9003:9003"
    depends_on:
      - auth-postgres
      - patient-service  # Auth calls Patient
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-postgres:5432/auth_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_SQL_INIT_MODE: always
      JWT_SECRET: dGhpcy1pcy1hLXZlcnktc2VjdXJlLTMyLWJ5dGUtc2VjcmV0
      PATIENT_SERVICE_ADDRESS: patient-service
      PATIENT_SERVICE_GRPC_PORT: 9002
      GRPC_SERVER_PORT: 9003
      SERVER_PORT: 4005
    networks:
      - backend

  # Medical Staff Service - Depends on Auth Service (calls auth gRPC)
  medical-staff-service:
    container_name: medical-staff-service
    build: ./medical-staff-service/
    ports:
      - "4006:4006"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://medical-staff-postgres:5432/medical_staff_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      AUTH_SERVICE_ADDRESS: auth-service
      AUTH_SERVICE_GRPC_PORT: 9003
      SERVER_PORT: 4006
    depends_on:
      - medical-staff-postgres
      - auth-service  # Medical Staff calls Auth
    networks:
      - backend

  # API Gateway - Depends on all services
  api-gateway:
    container_name: api-gateway
    build: ./api-gateway/
    ports:
      - "4004:4004"
    networks:
      - backend
    environment:
      AUTH_SERVICE_URL: http://auth-service:4005
      PATIENT_SERVICE_URL: http://patient-service:4000
      BILLING_SERVICE_URL: http://billing-service:4001
      MEDICAL_STAFF_SERVICE_URL: http://medical-staff-service:4006
      IMAGE_SERVICE_URL: http://image-service:4007  # Add this
      ANALYTICS_SERVICE_URL: http://analytics-service:4002  # Add this
      SERVER_PORT: 4004
    depends_on:
      - auth-service
      - patient-service
      - billing-service
      - medical-staff-service
      - image-service  # Add this

  # analytics-service:
  #   container_name: analytics-service
  #   build: ./analytics-service/
  #   ports: 
  #     - "4002:4002"
  #   environment:
  #     SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
  #   networks:
  #     - backend 
  #   depends_on:
  #     - kafka 

  image-postgres:
    container_name: image-db
    image: postgres:15
    ports:
      - "5004:5432"
    environment:
      POSTGRES_DB: image_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    volumes:
      - image_postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    restart: unless-stopped

  image-service:
    container_name: image-service
    build: ./image-service/
    ports:
      - "4007:4007"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://image-postgres:5432/image_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SERVER_PORT: 4007
      IMAGE_STORAGE_LOCATION: /app/images
      SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE: 50MB
      SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE: 50MB
    depends_on:
      - image-postgres
    networks:
      - backend
    volumes:
      - image_storage:/app/images


  analytics-postgres:
    container_name: analytics-db
    image: postgres:15
    ports:
      - "5005:5432"
    environment:
      POSTGRES_DB: analytics_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    volumes:
      - analytics_postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    restart: unless-stopped

  analytics-service:
    container_name: analytics-service
    build: ./analytics-service/
    ports:
      - "4002:4002"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://analytics-postgres:5432/analytics_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      IMAGE_SERVICE_URL: http://image-service:4007
      SERVER_PORT: 4002
    depends_on:
      - analytics-postgres
      - kafka
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  patient_postgres_data:
  auth_postgres_data:
  medical_staff_postgres_data:
  billing_postgres_data:
  image_postgres_data:  # Add this
  image_storage:  # Add this for persistent image storage
  kafka_data:
  analytics_postgres_data: