services:

  patient-postgres:
    container_name: patient-db
    image: postgres:15
    environment:
      POSTGRES_DB: patient_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5000:5432"
    volumes:
      - patient_postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    restart: unless-stopped

  medical-staff-postgres:
    container_name: medical-staff-db
    image: postgres:15
    environment:
      POSTGRES_DB: medical_staff_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5002:5432"
    volumes:
      - medical_staff_postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    restart: unless-stopped
  
  auth-postgres:
    container_name: auth-db
    image: postgres:15
    ports:
      - "5001:5432"
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    volumes:
      - auth_postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    restart: unless-stopped

  auth-service:
    container_name: auth-service
    build: ./auth-service/
    depends_on:
      - auth-postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://auth-postgres:5432/auth_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_SQL_INIT_MODE: always
      JWT_SECRET: dGhpcy1pcy1hLXZlcnktc2VjdXJlLTMyLWJ5dGUtc2VjcmV0
    networks:
      - backend

  patient-service:
    container_name: patient-service
    build: ./patient-service/
    ports:
      # Remove later for internal communication only
      - "4000:4000"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://patient-postgres:5432/patient_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_SQL_INIT_MODE: always
      BILLING_SERVICE_ADDRESS: billing-service
      BILLING_SERVICE_GRPC_PORT: 9001
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    depends_on:
      - patient-postgres
    networks:
      - backend
    
  medical-staff-service:
    container_name: medical-staff-service
    build: ./medical-staff-service/
    ports:
      # Remove later for internal communication only
      - "4006:4006"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://medical-staff-postgres:5432/medical_staff_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_SQL_INIT_MODE: always
    depends_on:
      - medical-staff-postgres
    networks:
      - backend
    
  billing-service:
    container_name: billing-service
    build: ./billing-service/
    ports:
      - "4001:4001"
      - "9001:9001"
    networks:
      - backend

  analytics-service:
    container_name: analytics-service
    build: ./analytics-service/
    ports: 
      - "4002:4002"
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    networks:
      - backend 
    depends_on:
      - kafka 
  
  api-gateway:
    container_name: api-gateway
    build: ./api-gateway/
    ports:
      - "4004:4004"
    networks:
      - backend
    environment:
      AUTH_SERVICE_URL: http://auth-service:4005
    
  kafka:
    container_name: kafka
    image: confluentinc/cp-kafka:7.5.0
    ports:
      - "9092:9092"
      - "9094:9094"
    environment:
      # ---- KRaft mode ----
      CLUSTER_ID: YSEeaP7HRy-Lhksi-Hj_Fg
      KAFKA_NODE_ID: 0
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      # ---- Listeners ----
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      # ---- Single-node safe defaults ----
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
    networks:
      - backend
    volumes:
      - kafka_data:/var/lib/kafka/data

networks:
  backend:
    driver: bridge

volumes:
  patient_postgres_data:
  auth_postgres_data:
  medical_staff_postgres_data:
  kafka_data:
